<h1>Word Counter</h1>
<form action="/WordCounter" method="post">
  <label for="newWord">Enter the word to be check:</label>
  <input id="newWord" name="newWord" type="text">
  <label for="newSentence">Please enter a sentence:</label>
  <input id="newSentence" name="newSentence" type="text">
  <button type="submit">Check</button>
</form>
