<h1>Word Counter</h1>

<ul>
  @foreach(var word in Model)
  {
    <li><a href="/WordCounter/@word.GetId()">@Model.GetWord() appears @Model.GetWordCount() times in the sentence: @Model.GetSentence()</a></li>
  }
</ul>
<a href="/WordCounter/new">Click here to check</a>
<form action="/WordCounter/delete" method="post">
  <button type="submit" name="button">Clear All</button>
</form>
